<template>
    <v-flex xs6>
        <v-card :to="'/film/'+ film.id">
          <v-img
          :src="film.poster ? apiDomain + film.poster : 'https://picsum.photos/200/300'"
          class="white--text"
          height="200px"
          >
            <v-card-title
            class="fill-height align-end"
            v-text="film.judul"
            >
            </v-card-title>
          </v-img>
          <v-card-actions>
            <!-- <v-progress-linier
            color="blue-grey"
            height= "7"
            >
            </v-progress-linier> -->
          </v-card-actions>
          <v-card-actions>
            <span>{{ film.judul.substring(0,15)}}...</span>
          </v-card-actions>
        </v-card>
      </v-flex>
</template>

<script>
export default {

    data: () => ({
    apiDomain : 'http://127.0.0.1:8000'
  }),
    props : ['film']
}
</script>