<template>
  
  <v-container class="ma-0 pa-0" grid-list-sm>
    <v-subheader>
    All Films
  </v-subheader>
    <v-layout wrap>
      <film-item-component 
      v-for="film in films"
      :key="`film-`+film.id"
      :film="film"
      ></film-item-component>
    </v-layout>
    <v-pagination
    v-model="page"
    @input="go"
    :length="lengthPage"
    :total-visible="perPage"
    >

    </v-pagination>
  </v-container>
</template>

<script>
import FilmItemComponent from '../components/FilmItemComponent.vue'
export default {
  data : () => ({
    apiDomain : 'http://127.0.0.1:8000',
    films : [],
    page : 0,
    lengthPage : 0,
    perPage : 0
  }),
  components : {
    'film-item-component' : FilmItemComponent
  },
  methods : {
    go(){
      const config = {
        method : 'get',
        url : this.apiDomain + '/api/film?page=' + this.page
        // url : this.apiDomain + '/api/v2/blog',
        // params : { 'page' : this.page}
      }

      this.axios(config)
        .then( response => {
          let { films } = response.data
          this.films = films.data
          this.page = films.current_page
          this.lengthPage = films.last_page
          this.perPage = films.per_page
        })
        .catch(error =>{
          console.log(error)
        })
    }
  },
  created(){
    this.go()
  }
}
</script>