<template>
    <div>
        <v-card v-if="film.id">
            <v-img :src="film.poster ? apiDomain + film.poster : 'https://picsum.photos/200/300'" class="white--text" height="200px">
                <v-card-title class="fill-height align-end" v-text="film.judul"></v-card-title>
            </v-img>

            <v-card-text>
                <v-simple-table dense>
                    <tbody>
                        <tr>
                            <td><v-icon>mdi-format-title</v-icon> Judul</td>
                            <td class="blue--text">{{ film.judul }}</td>
                        </tr>
                        <tr>
                            <td><v-icon>mdi-note</v-icon> Deskripsi</td>
                            <td>{{ film.ringkasan}}</td>
                        </tr>
                    </tbody>
                </v-simple-table>
            </v-card-text>
        </v-card>
    </div>
</template>

<script>
export default {
    data : () =>({
        film: {} ,
        apiDomain: 'http://127.0.0.1:8000'
    }),
    methods: {
        go() {
            let { id } = this.$route.params

            const config = {
                method : 'get',
                url : `${this.apiDomain}/api/film/${id}`
            }
            this.axios(config)
                .then(response =>{
                    let { film } = response.data
                    this.film = film
                })
        }
    },
    created(){
        this.go()
    }
}
</script>