<template>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <div class="text-right">
      <v-btn small text to="/films" class="blue--text">
        All Films <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </div>
    <v-layout wrap>
      <film-item-component 
      v-for="film in films"
      :key="`film-`+film.id"
      :film="film"
      ></film-item-component>
    </v-layout>

    <!-- <button @click="increment(10)">Tambah</button>
    {{ tambah }} -->
  </v-container>
</template>

<script>
import FilmItemComponent from '../components/FilmItemComponent.vue'
export default {
  data: () => ({
    apiDomain : 'http://127.0.0.1:8000',
    films : []
  }),

  components : {
    'film-item-component' : FilmItemComponent
  },
  computed: {
    // count(){
    //   return this.$store.getters.count
    // }
    // ...mapGetters({
    //   'tambah' : 'counter/count'
    // })
    
  },
  methods: {
    go(){
      const config = {
      method : 'get',
      url : this.apiDomain + '/api/film'
    }
    this.axios(config)
      .then(response =>{
        let { films } = response.data
        this.films = films
      })
      .catch(error => {
        console.log(error)
      })
    },

    // increment (payload) {
    //   this.$store.commit('increment', payload)
    // }
    // ...mapMutations({
    //   'increment' : 'counter/increment'
    // })
  },

  created(){
    this.go()
  }

}
</script>